.task-enter {
   transform: translateX(-250px);
}
.task-enter-active {
   transform: translateX(0px);
   transition: all 400ms ease-in;
}
.task-exit {
   opacity: 1;
}
.task-exit-active {
   transform: translateX(-250px);
   transition: all 400ms ease-in;
}
